{% extends 'Home/template.html' %}
{% load static %}

{% block head %}
<title>
    Author
</title>
{% endblock %}

{% block section %}
<div>
    <img class="foto_blog" src="static/images/profile-pic2.jpg" />
</div>
<div>
<h2 class="h2_author">
    Andi Hermawan
</h2>
<p class="p_author">
    <strong>Please Write your Summary</strong>, Lorent ipsum Dolar Sit Amet. Lorem ipsum Dolar Sit
     Amet.Lorem Ipsum Dolar Sit Amet Lorem Ipsum Dolar Sit Amet Lorem Ipsum Dolar Sit 
     Amet. Lorem Ipsum Dolar Sit Amet Lorem ipsum Dolar Silt Amet.
</p>

<span class="author_kiri">Alamat:</span>
<span class="author_kanan">Jl.Candi PAnggung 6C Malang</span><br><br>
<span class="author_kiri">Telephone:</span>
<span class="author_kanan">081907763990</span><br><br>
<span class="author_kiri">Education:</span>
<span class="author_kanan">Geography</span><br><br>
<span class="author_kiri">Profession:</span>
<span class="author_kanan">GIS</span><br><br>
<span class="author_kiri">Nationality:</span>
<span class="author_kanan">Indonesia</span><br><br>
<span class="author_kiri">Company:</span>
<span class="author_kanan">Alphatech</span><br><br>
<span class="author_kiri">Email:</span>
<span class="author_kanan">andi@alphatech.id</span><br><br>
<span class="author_kiri">Addres:</span>
<span class="author_kanan">Jl.Candi Panggung Permai 6C Malang</span><br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.3141822078887!2d112.60827644958557!3d-7.96644679423405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa+Lodge+Malang!5e0!3m2!1sen!2sid!4v1550020319733" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
{% endblock %}

